# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
client/dist/

# Environment files
.env
*.env
server/.env
client/.env

# Uploads / Temp
server/uploads/*
!server/uploads/.gitkeep

# Logs & OS files
*.log
.DS_Store
.vscode/
.idea/