.auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.auth-form{
    background: var(--glass-bg);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--glass-border);
    position: relative;
    overflow: hidden;
}

.auth-form::before{
    content: '';
    position:absolute;
    top: 0;
    left:-50%;
    width: 450px;
    height: 4px;
    background: linear-gradient(90deg, transparent, #f97316, transparent);
    animation: shimmer 3s infinite linear;
}
.auth-form .btn {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes shimmer {
    0%{transform:translateX(-50%);}
    100%{transform: translateX(50%);}
}
.auth-form h2{
    text-align: center;
    margin: 0 auto 10px;
    font-size: 2.2rem;
    font-weight: 800;
    background: linear-gradient(90deg, #FFD700 0%, #FF007F 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: table;
    letter-spacing: -0.5px;
}


.auth-form input {
    width: 100%;
    padding: 14px 16px;
    border: 1px solid var(--glass-border);
    border-radius: 10px;

    background: var(--input-bg, transparent);   
    color: var(--text-primary);

    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.auth-form input::placeholder {
    color: var(--text-secondary);
}

.auth-form input:focus {
    border: 1px solid #f97316;
    box-shadow: 0 0 10px rgba(249,115,22,0.4);
    background: transparent;
    color: var(--text-primary);
}

.auth-form p{
    text-align: center;
    margin-top: 15px;
    color: var(--text-secondary);
}

.auth-form a{
    color: #f97316;
    font-weight: 600;
}

.auth-form a :hover{
    text-decoration: underline;
}
